body {
    margin:0px;
    height:100%;
    width:100%;
    font-family:"Lato", Helvetica, Arial, sans-serif;
    font-style: oblique;
}
h5, .h5 {
    font-size: 19px;
    font-family: monospace;
    font-weight: bolder;
}

p {
    font-size: 15px;
    font-style: oblique;
}

/*-----------------------------------------------*/
/*Logo
/*-----------------------------------------------*/


#logo{
    width:19em;

}
#box{
    height: 50px;
    width: 50px;
    border: 2px solid #000;
    transition: background-color 0.5s ease;
    margin-top: 9%;
    background: linear-gradient(45deg, #FFF 50%, #cc423f 50%);
    background-size: 300% 100%;
    background-position: left bottom;
    transition: all .6s ease;
    float: left;

}

#init-wrap{
    text-align: center;
    line-height: 25px;

}

h1{
    font-size: 1.3em;
    font-family: helvetica, arial;
    font-weight: bold;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

}

#box:hover{
    cursor: pointer;
    border: 2px solid #cc423f;
    background-position:right bottom;
}

#box:hover h1{
    color: #FFF;
}

#name{
    float: left;
    padding: 20px;
    margin-top: 22px;
    display: none;
    -webkit-animation: fadeInLeft .5s;

}


@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}





/*-----------------------------------------------*/
/*display system
/*-----------------------------------------------*/



.fluid {
    float: left;
    width: 25%;
    height: 30em;
    background-color: #cc5f5b;
    overflow: hidden;
    z-index: -1;
}

.fluid {
    float: left;
    width: 25%;
    height: 30em;
    background-color: #cc5f5b;
    overflow: hidden;
    z-index: -1;
}

.fluid img {
    -webkit-animation:start 3s;
    -webkit-animation-iteration-count: infinite;
    position:relative;
}
@-webkit-keyframes start {
    0% { left:0; }
    50% { left:-50px; }
    100% { left:0px; }
}

.col-md-7 {
    width: 66.333333%;
}

/*-----------------------------------------------*/
/*Navigation System
/*-----------------------------------------------*/

.col-md-2 {
    width: 15.666667%;
}

ul{
    list-style: none;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-top: 10em;

}
li{
    width: 180px;
    padding: 4px 0 0 4px;
    margin-bottom: 4px;
    border-left: 2px #cc423f solid;
  background:url("/images/nav_bkg.png");
    background-repeat: no-repeat;
    background-position-x: -180px;
    transition: background-position-x .3s;
    vertical-aligh: middle;
    font-weight: bold;
}

.memo{
    width: 32em;
    padding: 15px 0 0 4px;
    margin-bottom: 4px;
    border-left: 1px #cc423f solid;
    background:url("/images/nav_bkg.png");
    background-repeat: no-repeat;
    background-position-x: -180px;
    transition: background-position-x .3s;
    vertical-aligh: middle;
    font-weight: bold;
    list-style: none;
}
li:hover{
    background-position-x: 0;
    color: #cc423f;
}
li a{
    margin: 4px 0;
    text-decoration: none;
    color:#525252;

}
