
h2, .h2 {
    font-size: 30px;
    font-size: 21px;
    font-family: monospace;
    font-weight: bolder;
}

.folio-display {
    margin: auto;
    text-align: center;
    position: relative;
    width: 69em;
    height: 35em;
    padding-top: 1px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    clear: both;
}

.folio-thumbnail:nth-child(5n) {
    clear: right;

}

.folio-thumbnail {
    /*box-shadow: 1px 1px 10px #999;*/
    margin: 2px;
    height: 100%;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

.display-divider {
    top: 3.4em;
    margin-top: 3px;
    margin-bottom: 60px;
    height: 2px;
    position: relative;
    float: left;
    background-color: #000;
    padding-left: 20px;
    clear: both;
    width: 45em;
}


/* DISPLAY GALLERY*/
/

.col-md-7 {
    width: 57.333333%;
}



.gallery {
   /* width: 640px;*/
    margin: 3 auto;
    padding: 41px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.37);
}

.gallery > div {
    position: relative;
    float: left;
    padding: 5px;
}

.gallery > div > img {
    width: 14em;
    height: 9em;
    /*transition: .2s transform;*/
    /*transform: translateZ(0);  hack */
}

.gallery > div:hover {
    z-index: 1;

}

.gallery > div:hover > img {
    transform: scale(2.8,2.8);
    transition: .3s transform;
}

.cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}

.top-space{
    padding-top: 7em;
}