@font-face {
    font-family: 'Gotham Rounded';
    src: url('/fonts/GothamRounded-Bold.eot');
    src: url('/fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamRounded-Bold.woff2') format('woff2'),
    url('/fonts/GothamRounded-Bold.woff') format('woff'),
    url('/fonts/GothamRounded-Bold.ttf') format('truetype'),
    url('/fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/fonts/GothamRounded-Medium.eot');
    src: url('/fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamRounded-Medium.woff2') format('woff2'),
    url('/fonts/GothamRounded-Medium.woff') format('woff'),
    url('/fonts/GothamRounded-Medium.ttf') format('truetype'),
    url('/fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Gotham Rounded', sans-serif;
    font-weight: bold;
    color: #004652;
}

body p {
    font-family: 'Gotham Rounded',  sans-serif;
    font-weight: 500;
    color: #464444;
}

.container {
    padding: 0;
}

.nav > li > a {
    height: 20px;
}

nav a:hover {
    background-color: transparent;
    color: gray;
    cursor: pointer;
}

.navbar-default {
    background: white;
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
}

.heading > hr {
    border-top-color: 1px solid black;
    -moz-border-top-colors: 1px solid black;
    width: 20em;
    margin-top: 1px;
    margin-bottom: 3px;
}

.heading > h1 {
    font-size: 37px
}

.heading > p {
    font-size: 20px
}

.heading {
    padding-top: 70px;
    /*	padding-bottom: 48px;*/
    /*	background: none;	*/
}

#info h3 {
    font-size: 15px;
    margin-top: 5px;
}

#info h5 {
    margin-bottom: 0;
}

#info p {
    font-family: GothamRounded-Medium, sans-serif;
    font-weight: normal;
}

#info hr {
    margin-bottom: 1px;
    border-bottom: 1px solid white;
}

.col-lg-4 {
    width: 22.333333%;
}

/* Projects Section*/

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
