<div class="col-xs-12 col-md-2">

    <div class="side-nav">
        <ul>
            <li><a href="index.html">about me</a></li>
            <h5>Projects</h5>
            <li><a href="editorial.html">Editorial</a></li>
            <li><a href="#">team</a></li>
            <li><a href="#">clients</a></li>
            <li><a href="#">insurance</a></li>
            <li><a href="#">careers</a></li>
            <li><a href="#">news</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="#">clientlounge</a></li>
        </ul>
    </div>
</div>